.date-filter datepicker {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
._720kb-datepicker-calendar._720kb-datepicker-open {
	right: 0px;
}
input#datefrom, input#dateto {
	width: 150px;
	height: 30px;
}
@media only screen and (max-width: 500px) {
	h3.box-title {
		visibility: hidden;
	}
	.date-filter datepicker {
		margin-right: 5px;
	}
}